body {
  color: white;
  margin: 0;
  text-align: center;
  background-color: black;
}
canvas {
  display: block;
  width: 100%;
  height: 100%;
}
nav {
  color: white;
}

#logo {
  font-size: 36px;
}

a,
a:visited {
  margin: 0px 24px;
  color: white;
  text-decoration: none;
  border-radius: 6px;
}

.title {
  margin-right: auto;
  margin-bottom: 2rem;
  border: 3px blue solid;
}

.navbar-brand:hover {
  color: slateblue;
  text-decoration: none;
}
.nav-item:hover {
  color: slategray;
  text-decoration: none;
}

#center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-div {
  color: white;
  margin: 0;
  text-align: center;
}

#nav-bio {
  box-shadow: 0px 0px 0px 2px white inset;
}
#nav-bio:hover {
  box-shadow: 0px 0px 0px 2px slategray inset;
}
#nav-proj {
  box-shadow: 0px 0px 0px 2px white inset;
}
#nav-proj:hover {
  box-shadow: 0px 0px 0px 2px slategray inset;
}

#bio-image {
  width: 150px;
  height: 150px;
  border-radius: 20%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url("./assets/bio.jpeg");
}

#bio-text-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  text-align: center;
  align-items: center;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 4rem;
}

#bio-image-container {
  width: 40%;
  display: flex;
  padding-top: 10rem;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.bio-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  padding: 20px 24px;
  border: 2px dotted green;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.banner {
  height: 300px;
}

.projects-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 20px 0px;
  border: 2px dotted orange;
}

.project-card {
  width: 90%;
  margin-top: 32px;
  border: 3px slateblue dotted;
}

.project-image-container {
  width: 65%;

  border: 2px solid yellowgreen;
  margin: auto;
}

img {
  max-height: 65vh;
}

.project-desc-container {
  width: 35%;
  padding-left: 1rem;
}

.project-desc {
  width: 100%;
  height: 85%;
  border-radius: 8px;
  background-color: rgba(240, 238, 255, 0.1);
}

/* Slideshow container */
/* Slideshow container */
/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Hide the images by default */
/* .mySlides {
  display: none;
} */

/* Next & previous buttons */
.prev,
.next {
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.2s ease;
}

.active,
.dot:hover {
  background-color: white;
}

.image-1,
.image-2,
.image-3,
.image-4 {
  display: none;
}

.show {
  display: block;
}

/* Fading animation */
/* .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
} */
