/* post code block */

// Code blocks
$primary-color: #fafafa;
$box-shadow-color: rgba(0, 0, 0, 0.16);
$box-shadow-hover-color: rgba(0, 0, 0, 0.32);
$base-font: 'Roboto', Arial, sans-serif;
$code-block-bg: #151f28;
$code-block-var: #ff39a7;
$code-block-num: #fed703;
$code-block-fun: #c653ff;
$code-block-keyword: #2bdcff;
$code-block-comment: #8292a2;
$code-block-tkimp: #fd971f;

code[class*='language-'],
pre[class*='language-'] {
    color: $primary-color;
    background: none;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 1rem;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

/* Code blocks */
pre[class*='language-'] {
    padding: 1em;
    margin: 0.5em 0;
    overflow: auto;
    border-radius: 1em;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background-color: rgb(17 24 39);
  box-sizing: border-box;
}


/* Inline code */
:not(pre) > code[class*='language-'] {
    padding: 0.3em;
    /* font-size: 0.9rem; */
    border-radius: 0.4em;
    white-space: normal;
}


.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: var(--code-block-comment);
}

.token.punctuation {
    color: var(--primary-color);
}

.token.namespace {
    opacity: 0.7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
    color: var(--code-block-var);
}

.token.boolean,
.token.number {
    color: var(--code-block-num);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: var(--code-block-fun);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
    color: var(--primary-color);
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
    color: var(--code-block-fun);
}

.token.keyword {
    color: var(--code-block-keyword);
}

.token.regex,
.token.important {
    color: var(--code-block-tkimp);
}

.token.important,
.token.bold {
    font-weight: bold;
}
.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}


.rehype-code-title + pre {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  color: rgb(229 231 235);
}

.rehype-code-title {
  background-color: rgb(31 41 55);
  color: rgb(229 231 235);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  padding: 0.75rem 1.25rem;
  font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
  font-size: .875rem;
  line-height: 1.25rem;
  font-weight: 700;
}