@charset "utf-8";

// Define defaults for each variable.

// Prefers light
$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;


$text-color:       #111 !default;
$background-color: #fdfdfd !default;
//$brand-color:      #2a7ae2 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

$max-width: 1100px;
$border-radius: 12px;

$dark-text-color: #fafafa !default;


:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;

  --background-rgb: 255, 255, 255;
  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;

  --brand-color: #d2a8ff;
}

@media (prefers-color-scheme: dark) {
  :root {
    //--background-color: #fdfdfd;
    --brand-color: #9999FF;

    // next styles
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --border-radius: 12px;

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;

    --primary-color: #fafafa;
    --secondary-color: #341677;
    --tertiary-color: #252525;
    --text-color: rgba(255, 255, 255, 0.87);
    --subtext-color: #aaaaaa;
    --background-color: #121212;
    --card-background-color: #1c1c1c;

    --scroll-bar-color: rgba(255, 255, 255, 0.5);


    --box-shadow-color: rgba(0, 0, 0, 0.16);
    --box-shadow-hover-color: rgba(0, 0, 0, 0.32);
    --base-font: 'Roboto', Arial, sans-serif;
    --code-block-bg: #151f28;
    --code-block-var: #ff39a7;
    --code-block-num: #fed703;
    --code-block-fun: #c653ff;
    --code-block-keyword: #2bdcff;
    --code-block-comment: #8292a2;
    --code-block-tkimp: #fd971f;
  }
}

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;


// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}


@media (prefers-color-scheme: dark) {
    html {
      color-scheme: dark;
    }
    body {
      background: linear-gradient(
          to bottom,
          transparent,
          rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
    }
}




@import
"base",
"layout",
"syntax-highlighting",
"home.module",
"post.module"
;